body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: rgb(10, 10, 54);
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(10, 10, 54);
    color: white;
    padding: 1em 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

h1, p {
    margin-top: 0;
    padding-top: 1em;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

input[type="text"] {
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 1em;
    width: 300px;
}

button {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: white;
    color: navy;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}

#result {
    margin-top: 1em;
    font-size: 1.2em;
}