<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhishGuard</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav>PhishGuard</nav>
    <main>
        <div class="container">
            <h2>URL Phishing Checker</h2>
            <input type="text" id="urlInput" placeholder="Enter URL here...">
            <button onclick="checkURL()">Check URL</button>
            <p id="result"></p>
        </div>
    </main>
    <script>
        async function checkURL() {
            const url = document.getElementById('urlInput').value;
            const response = await fetch('/check_url', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ url: url })
            });
            const result = await response.json();
            document.getElementById('result').innerText = `Result: ${result.status}`;
        }
    </script>
</body>

</html>